/****************************************************************************************************/
/**********************************************LAPTOP************************************************/
/****************************************************************************************************/

@media (min-width: 75em) {
	html {
		font-size: 70%;
	}

/***Header***/
/* 1200px / 16px = 75em */

.header {
	padding: 15px 0;
}

.header__logo-img {
	max-width: 100px;
	max-height: 100px;
}

.menu__list {
	gap: 48px;
}

.callback{
	height: 35px;
}

.callback-icon{
	width: 16px;
	height: 16px;
	margin-right: 5px;
}

.callback__button{
	padding: 0px 20px 0px;
}

/***Header END***/

.main {
	margin-top: 109px;
}

/***First section***/

.first_section {
	padding: 1px 0;
	height: 55vh;
	background-size:cover;
}

.first_section__links {
	gap: 20px;
	margin-top: 40px;
}

.first_section__link-1{
	padding: 6px 12px 6px 12px;
	min-width: 130px;
}

.first_section__link-1:hover{
	min-width: 60px;
}

.first_section__link-2 {
	padding: 6px 12px 6px 12px;
	min-width: 120px;
}

.first_section__link-2:hover{
	min-width: 60px;
}


/***First section END***/

/***Second section***/



.section__title {
	margin: 100px auto 70px;
}

.two_section__container {
	height: 450px;
	min-height:612px;
	width: 100%;
}

.two_section__text {
padding: 90px 0px 0px 62px;
width: 50%;
}

.survey-form__title{
margin-bottom: 36px;
}

.survey-form {
	margin: 53px 40px 0px 40px;
	width: 50%;
}

.form-control {
	margin-bottom: 20px;
	padding: 10px 0 14px 10px;
}

.error-text{
	padding: 5px 0px 10px 0px;
}

.submit-button {
	width: 240px;
	height: 45px;
	margin: 36px auto 0;
}

/***Second section END***/

/***Third section***/

.third_section{
	margin-top: 170px;
}

.third_section__title {
	margin: 0px auto 70px;
}

.project-grid__tile1 {
	grid-template-columns: 1fr 1fr;
	margin-bottom: 120px;

}

.project-grid__tile2 {
	grid-template-columns: 1fr 1fr;
	margin-bottom: 120px;

}

.project-grid__tile3 {
	grid-template-columns: 1fr 1fr;
}

.project-grid__tile-img-reverse{
	grid-column-start: 2;
	grid-column-end: -1;
}

.project-grid__tile-text-reverse{
	margin-right:40px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

.project-grid__tile-text {
	margin-left:40px;
}

.grid-1-title {
	margin-bottom: 15px;

}

.grid-2-title {
	margin-bottom: 15px;

}

.project-text {
	margin-bottom: 50px;
}

.grid_button {
	padding: 15px 38px;
}

/***Fourth section***/

.fourth_section{
	margin-top: 170px;
}


.fourth_section__grid-templaetes{
	grid-template-columns: 1fr 2fr;
}

.fourth-section__title-container {
	min-width:300px;
}

.fourth-section__title {
	padding-top: 40px;
}

.swiper {
	width: 100%;
	max-width: 450px;
	min-width: 350px;
}

.swiper-slide {
	width:430px;
	height:300px;
}

.slider__img {
	padding: 25px 10px 20px 20px;

}
.slider__name {
	padding: 40px 0px 0px 10px;

}
.slider__text {
	padding: 0px 40px 40px 50px;
}

/***Fourth section END***/

/***Fifth section***/

.five_section__container {
	display: flex;
	flex-direction: row;
	background-color: var(--main-white);
	border-radius: 60px;
	width: 33,3em;
	height: 500px;
}

.survey_section_five{
	margin: 50px 40px 50px 40px;
	width: 100%;
}

.send_buttom {
	display: flex;
	justify-content:center;
	align-items: center;
	width: 10em;
	height: 45px;
  padding: 0 20px;
	border: none;
  border-radius: 60px;
  background-color: var(--main-aqua);
	color: #474350;
	font-size: 18px;
	font-weight: 600;
  cursor: pointer;
	z-index: 3;
	margin: 36px auto 0;

}

.error_button{
	margin: 0px auto 0;
	background-color: var(--main-errors-red);
	color: var(--main-white);
}

.success_button{
	margin: 0px auto 0;
	background-color: var(--main-sucsess-green);
	color: var(--main-white);
}

textarea {
	resize: none; 
	overflow: auto;
	line-height: 1.2rem;
	height: 8rem;
  }

  .fifth_img {
	margin: 40px 0px 80px 40px;
	border-radius: 60px;
	border: none;
	width: 100%;
	height: auto;
	max-width: 100%;
	max-height: 500px;
}

/*********************************fifth section**********************************/

/*********************************footer**********************************/
.footer{
  	background-color: #474350;
  	margin: 200px 0px 0px;

	padding: 50px 0px 100px;
}

.upper_footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.subscribe_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
  

.text{
	color: var(--main-white);
	font-size: 1.2rem;

	margin: 0;
}

.bold{
	font-weight: 800;

}

.intend{
	margin-top: 22px;
}

.intend_low{
	margin-top: 12px;
}

.subscribe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.footer_text{
	color: var(--main-white);
	font-weight: 900;
	margin-top: 20px;
}


.left{
	text-align: left;
  margin-left: auto;

}

.icon{
	display: inline-block;
	margin: 30px 20px 0px 0px;
	width: 20px;
	height: 20px;
}

.subscribe_text{
	font-weight: 400;
	font-size: 2.4rem;
	line-height: 3.6rem;

}

.subscribe{
	position: relative;
	width: 550px;
}
.subscribe_email {
	width: 100%;
	height: 55px;
	padding: 10px;
	border: none;
	outline: none;
	padding-right: 180px;
	border-radius: 60px;
	font-size: 16px;
	z-index: 3;
}
  
.subscribe_bottom {
	width: 30%;
	height: 55px;
	padding: 0 20px;
	border: none;
	border-radius: 60px;
	background-color: var(--main-aqua);
	color: #474350;
	font-size: 1.6rem;
	cursor: pointer;

	margin-left: -30%;
	z-index: 5;
}


.subscribe_bottom:hover {
  background-color: #00cc96;
	color: #fff;
}
}

/***Footer END***/

/****************************************************************************************************/
/**********************************************TABLET************************************************/
/****************************************************************************************************/

/* 890px / 16px = 61.25em */
@media (max-width: 50em) {
  html {
    font-size: 50%;
  }


/***Header***/

.header {
	padding: 15px 0;
}

.header__logo-img {
	max-width: 70px;
	max-height: 70px;
}

.menu__list {
	gap: 20px;
}

.callback{
	height: 35px;
}

.callback-icon{
	width: 16px;
	height: 16px;
	margin-right: 5px;
}

.callback__button{
	padding: 0px 20px 0px;
}

/***Header END***/

.main {
	margin-top: 109px;
}

/***First section***/

.first_section {
	padding: 1px 0;
	height: 22vh;
	background-size:cover;
}

.first_section__links {
	gap: 15px;
	margin-top: 40px;
}

.first_section__link-1{
	padding: 6px 12px 6px 12px;
	min-width: 100px;
}

.first_section__link-1:hover{
	min-width: 60px;
}

.first_section__link-2 {
	padding: 6px 12px 6px 12px;
	min-width: 100px;
}

.first_section__link-2:hover{
	min-width: 60px;
}


/***First section END***/

/***Second section***/

.section__title {
	margin: 100px auto 40px;
}

.two_section__container {
	height: 450px;
	min-height:500px;
	width: 100%;
}

.two_section__text {
padding: 60px 0px 0px 62px;
width: 50%;
min-width: 200px;
}

.survey-form__title{
margin-bottom: 36px;
}

.survey-form {
	margin: 53px 40px 0px 40px;
	width: 50%;
	min-width: 180px;
}

.form-control {
	margin-bottom: 20px;
	padding: 10px 0 14px 10px;
}

.error-text{
	padding: 5px 0px 10px 0px;
}

.submit-button {
	width: 150px;
	height: 35px;
	margin: 36px auto 0;
}

/***Second section END***/

/***Third section***/

.third_section{
	margin-top: 170px;
}

.third_section__title {
	margin: 0px auto 70px;
	font-size: 4rem;
}

.project-grid__tile1 {
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.2fr 0.5fr 2fr 0.5fr;
	margin-bottom: 120px;
	gap: 10px 50px;
}

.project-grid__tile2 {
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.2fr 0.5fr 2fr 0.5fr;
	margin-bottom: 120px;
	gap: 10px 50px;
}

.project-grid__tile3 {
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.5fr 0.5fr 2fr 0.5fr;
	margin-bottom: 120px;
	gap: 10px 50px;
}

.project-grid__tile-img{
	display: grid;
	align-content: center;
	grid-row-start: 1;
	grid-row-end: 5;
	max-width: 450px;
	min-width: 250px;
}
.project-grid__tile-img-reverse{
	display: grid;
	align-content: center;
	grid-row-start: 1;
	grid-row-end: 5;
	grid-column-start: 2;
	max-width: 450px;
	min-width: 250px;
}

.grid-1-title-reverse{
	grid-column-start: 1;
	grid-column-end: 2;
}

.grid-2-title-reverse{
	grid-column-start: 1;
	grid-column-end: 2;
}

.project-text-reverse{
	grid-column-start: 1;
	grid-column-end: 2;
}

.grid_button-reverse{
	grid-column-start: 1;
	grid-column-end: 2;
	padding: 12px 30px;
}

.project-img {
	border-radius: 60px;
}

.grid-1-title {
	grid-column-start: 2;
	grid-column-end: 3;
}

.grid-2-title {
	grid-column-start: 2;
	grid-column-end: 3;
}

.project-text {
	grid-column-start: 2;
	grid-column-end: 3;
}

.grid_button {
	grid-column-start: 2;
	grid-column-end: 3;
	padding: 12px 30px;
}

/***Fourth section***/

.fourth_section{
	margin-top: 170px;
}


.fourth_section__grid-templaetes{
	grid-template-columns: 1fr;
}

.fourth-section__title-container {
	min-width:300px;
	margin-bottom: 40px;
}

.fourth-section__title {
	padding-top: 40px;
}

.swiper {
	width: 100%;
	max-width: 450px;
	min-width: 350px;
}

.swiper-slide {
	width:430px;
	height:300px;
}

.slider__img {
	padding: 25px 10px 20px 20px;

}
.slider__name {
	padding: 40px 0px 0px 10px;

}
.slider__text {
	padding: 0px 40px 40px 50px;
}

/***Fourth section END***/

/***Fifth section***/

.five_section__container {
	display: flex;
	flex-direction: row;
	background-color: var(--main-white);
	border-radius: 60px;
	width: 33,3em;
	height: 450px;
}

.survey_section_five{
	margin: 50px 40px 50px 40px;
	width: 100%;
	min-width: 180px;
}

.send_buttom {
	display: flex;
	justify-content:center;
	align-items: center;
	width: 10em;
	height: 45px;
  padding: 0 20px;
	border: none;
  border-radius: 60px;
  background-color: var(--main-aqua);
	color: #474350;
	font-size: 18px;
	font-weight: 600;
  cursor: pointer;
	z-index: 3;
	margin: 36px auto 0;

}

.error_button{
	margin: 0px auto 0;
	background-color: var(--main-errors-red);
	color: var(--main-white);
}

.success_button{
	margin: 0px auto 0;
	background-color: var(--main-sucsess-green);
	color: var(--main-white);
}

textarea {
	resize: none; 
	overflow: auto;
	line-height: 1.2rem;
	height: 8rem;
  }

  .fifth_img {
	margin: 40px 0px 80px 40px;
	border-radius: 60px;
	border: none;
	width: 100%;
	height: auto;
	max-width: 100%;
	max-height: 200px;
}

/*********************************fifth section**********************************/

/*********************************footer**********************************/
.footer{
  background-color: #474350;
  margin: 200px 0px 0px;
	padding: 50px 0px 100px;
}

.upper_footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.subscribe_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
  

.text{
	color: var(--main-white);
	font-size: 1.2rem;
	margin: 0;
}

.bold{
	font-weight: 800;

}

.intend{
	margin-top: 22px;
}

.intend_low{
	margin-top: 12px;
}

.subscribe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.footer_text{
	color: var(--main-white);
	font-weight: 900;
	margin-top: 20px;
}


.left{
	text-align: left;
  margin-left: auto;
}

.icon{
	display: inline-block;
	margin: 30px 20px 0px 0px;
	width: 20px;
	height: 20px;
}

.subscribe_text{
	font-weight: 400;
	font-size: 2.4rem;
	line-height: 3.6rem;
}

.subscribe{
	position: relative;
	width: 550px;
}
.subscribe_email {
	width: 100%;
	height: 55px;
	padding: 10px;
	border: none;
	outline: none;
	padding-right: 180px;
	border-radius: 60px;
	font-size: 16px;
	z-index: 3;
}
  
.subscribe_bottom {
	width: 30%;
	height: 55px;
	padding: 0 20px;
	border: none;
	border-radius: 60px;
	background-color: var(--main-aqua);
	color: #474350;
	font-size: 1.6rem;
	cursor: pointer;
	margin-left: -30%;
	z-index: 5;
}

.subscribe_bottom:hover {
  background-color: #00cc96;
	color: #fff;
}

/***Footer END***/
}

/****************************************************************************************************/
/**********************************************MOBILE************************************************/
/****************************************************************************************************/

/* 460px / 16px = 28.75em */
@media (max-width: 42em) {
  html {
    font-size: 35%;
  }





}
