.modal {
	padding: 0 75px 0;
	display: none;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* добавить прокрутку, если содержимое модального окна больше, чем экран */
	background-color: rgba(0, 0, 0, 0.8);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s ease, visibility 0.5s ease;
	
}

.modal-content {
	max-width: 1070px;
  margin: 0 auto 0;
	background-color: var(--main-background-color);
	padding: 70px;
	border: none;
	border-radius: 60px;
	width: 100%;
	position: relative;
	top: 20%;
	left: 0;
	right: 0;

	transform: translateY(-50%) translateX(-50%) scale(0.8);
	opacity: 0;
	transition: transform 0.5s ease, opacity 0.5s ease;
}

.modal-wrapper{
	display: flex;
}

.calendar-block{
	width: 50%;
}

.modal_title{
	text-align: center;
	margin-bottom: 30px;
	font-family: var(--main-title-text);
	color: var(--main-img-background-color);
	font-weight: 700;
	font-size: 3.2rem;
	line-height: 2.2rem;
	letter-spacing: -0.02em;
}

.modal-calendar-article{
	width: 50%;
	margin: 0px 30px 30px 0px;
	font-size: 2.2rem;
	line-height: 3.7rem;
	color: #333333;
}

.profile_block{
	margin-top: 45px;
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: 0.25fr 1fr;
	grid-template-rows: 0.1fr 1fr;
	grid-column-gap: 10px;
}

.specialist_name{
	font-family: var(--main-casual-text);
	font-weight: 600;
	font-size: 2rem;
	line-height: 4.5rem;
	color: #474350;
	width: 100%;
	height: 100%;
}

.profile_photo{
	border-radius: 80px;
	width: 100%;
	height: 80%;
	grid-column: 1 / 2;
	grid-row: 1 / 3;
}

.profile_text{
	font-size: 1.7rem;
	align-self: self-start;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	transition: all 0.5s;
}

body.modal-open {
	overflow: hidden; /* Запрещаем скроллинг фона */
}

.modal.open {
	opacity: 1;
	visibility: visible;
}

.modal.open .modal-content {
	transform: scale(1);
	opacity: 1;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* 1220px / 16px = 77.5em */
@media (max-width: 77.5em) {

	.modal-calendar-article{
		width: 50%;
		margin: 30px 0px 30px 0px;
	}

	.calendar-block{
		width: 50%;
	}

	.modal-content {
		padding: calc(30px + (70 - 30) * ((100vw - 960px) / (1220 - 960)));
	}
}

/* 960px / 16px = 75em */
@media (max-width: 60em) {
	.modal {
		padding: 0 50px 0;
	}

	.modal-wrapper{
		display: flex;
		flex-direction: column-reverse;
	}

	.modal-content {
		top: 10%;
		width: 600px;
		padding: 30px;
	}

	.profile_block{
		margin-top: 10px;
	}

	.modal-calendar-article{
		width: 100%;
		margin: 0px 0px 30px 0px;
	}

	.modal-calendar-article{
		margin: 30px 30px 30px 0px;
		font-size: 2.2rem;
	}

	.profile_photo{
		border-radius: 20px;
		width: 100%;
		height: 100%;
	}

	.calendar-block{
		width: 100%;
	}

	.calendar-block{
		margin-left: 0px;
	}
}

/* 700px / 16px = 43.75em */
@media (max-width: 43.75em) {
	.modal-content {
		width: 100%;
		padding: calc(15px + (30 - 15) * ((100vw - 450px) / (700 - 450)));
		height: 600px;
	}

	.modal-calendar-article{
		display: none;
	}

	.modal-content {
		top: 20%;
		border-radius: 40px;
		padding: 30px 15px 20px;
	}

	.date-picker{
		font-size: calc(18px + (24 - 18) * ((100vw - 450px) / (700 - 450)));
	}
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.125em) {
	.modal {
		padding: 0 20px 0;
	}

	.modal-content {
		height: 500px;;
		padding: 20px 15px 20px;
	}

	.days {
    height: 150px;
}
}