@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
/* font-family: 'Roboto', sans-serif; */

/*********************************default-styles**********************************/


body{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 24px;
	background: #F2F2F2;
}

body._lock{
	overflow: hidden;
}

:root {
  --main-aqua: #92dce5;
  --main-pink: #f497da;
  --main-gray: #333333;
	--main-white: #FFFFFF;
}


.container{
	max-width:1420px;
	padding: 0 100px 0 100px;
	margin: 0 auto 0;
}

p{
	line-height: 1.5;
}

/*********************************default-styles**********************************/

/*********************************header**********************************/
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 15px 0;
	background: #F2F2F2;
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
	z-index: 5;
}
.header__container {
	display: flex;
}

.header__logo-img {
	max-width: 100px;
	max-height: 100px;
}

.header__nav{
	display: flex;
	align-items: center;
	text-align: center;
	margin-left: 274px;
}

.menu__list {
	display: flex;
	gap: 48px;
}

.menu__link {
font-weight: 600;
font-size: 16px;
line-height: 48px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.02em;
color: rgba(0, 0, 0, 0.7);
transition: all 0.3s;
}

.callback{
	display: flex;
	align-items: center;
	justify-content: right;
	margin: auto 0px;
	height: 50px;
	margin-left: 250px;
	opacity: 0.7;
	transition: all 0.3s;
}

.callback:hover{
	opacity: 1;
}

.callback-icon{
	width: 16px;
	height: 16px;
}

.callback__button{
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 48px;
	color: rgba(0, 0, 0, 1);
	border: 1px solid yellow;
	border-radius: 30px;
	background-color: yellow;
	padding: 0px 15px 0px;
}
/*************************************POPUP**************************************************/
.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;

	background-color: rgba(0, 0, 0, 0.8);

	transition: all 0.5s ease 0s;
}

.popup.open{
	opacity: 1;
	visibility: visible;
}

.popup.open .popup__content{
	transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
	opacity: 1;
}

.popup__body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}
.popup__content {
	position: relative;
	background-color:white;
	color: #000;
	max-width: 800px;
	padding: 30px;
	border-radius: 10px;
	margin-top: 80px;

	transition: all 0.5s ease 0s;
	transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
	opacity: 0;
}
.popup__close {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 20px;
}

.popup__tiitle {
	display: flex;
	justify-content: center;
	text-align: center;
	color: #000;
	font-size: 30px; 
	margin: 0px 0px 1em 0px;
}
.popup__text {
	color: #000;
	font-size: 20px;
}

/*************************************POPUP**************************************************/

/*********************************Header**********************************/

.main {
	margin-top: 100px;
}

/*********************************first_section**********************************/

.first_section {
	padding: 1px 0;
	min-height: 900px;
	max-height: 900px;
	height: 100%;
	width: 100%;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.65) 0%, rgba(255, 255, 255, 0) 100%);
	background-image:linear-gradient(
		115deg,
		rgba(26, 26, 26, 0.7),
		rgba(217, 217, 217, 0.2)
	), url("/Language_courses/img/background-first-section.svg");
	background-size: cover;
	background-position:bottom;
}

.first_section__container{
	height: 900px;
	display: flex;
	align-items: center;
}

.title {
display: inline-block;
max-width:650px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 66px;
line-height: 76px;
color: var(--main-white);
}

.first_section__links {
display: flex;
align-items: center;
text-align: center;
gap: 65px;
margin-top: 95px;
font-weight: 600;
font-size: 16px;

letter-spacing: -0.02em;
color: var(--main-white);
}

.first_section__link-1{
	border: 2px solid var(--main-white);
	border-radius: 60px;
	padding: 12px 24px 12px 24px;
	min-width: 172px;
}

.first_section__link-1:hover{}

.first_section__link-2 {
	border: 2px solid var(--main-aqua);
	border-radius: 60px;
	background: var(--main-aqua);
	padding:12px 24px 12px 24px;
}

/*********************************first_section**********************************/

/*********************************two_section**********************************/

.section__title-container{
	display: flex;
	align-items: center;
	text-align: center;
}

.section__title {
margin: 173px auto 71px;
font-family: 'Roboto', sans-serif;
color: var(--main-gray);
font-weight: 700;
font-size: 60px;
line-height: 20px;
letter-spacing: -0.02em;
}

.two_section__container {
	display: flex;
	flex-direction: row;
	background-color: var(--main-white);
	border-radius:  60px;
	width: 100%;
	height: 662px;
	min-height:612px;
}

.two_section__text {
font-family: 'Poppins', sans-serif;
font-size: 40px;
line-height: 60px;
color: #333333;
padding: 90px 0px 0px 62px;
}

.survey-form__title{
font-weight: 700;
font-size: 24px;
line-height: 1.2;
letter-spacing: -0.02em;
margin-bottom: 36px;
}

.survey-form {
	margin: 53px 75px 0px 80px;
}

.survey-form::placeholder{
	color: #000;
}

.form-control {
	display: block;
	margin-bottom: 24px;
	padding: 13px 0 16px 13px;
	color: #A3A3A4;
	background-color: #F2F2F2;
	border: 1px solid #F2F2F2;
	width: 400px;
}

.submit-button {
	display: flex;
	justify-content:center;
	align-items: center;
	width: 257px;
	height: 52px;
	background: var(--main-pink);
	border-radius: 60px;
	margin: 0 auto 0
}

.submit-button__text{
font-family: 'Poppins', sans-serif;
font-weight: 600;
font-size: 25px;
line-height: 1.2;
letter-spacing: -0.02em;
color: #F2F2F2;
}

/*********************************two_section**********************************/

/*********************************third_section**********************************/
.third_section{
	margin-top: 170px;
}

.third_section__title {
	margin: 0px auto 200px;
	font-family: 'Roboto', sans-serif;
	color: var(--main-gray);
	font-weight: 700;
	font-size: 60px;
	letter-spacing: -0.02em;

}

.project-grid__tile1 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 129px;
}

.project-grid__tile2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 129px;
}

.project-grid__tile3 {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.project-grid__tile-img-reverse{
	grid-column-start: 2;
	grid-column-end: -1;
}

.project-grid__tile-text-reverse{
	margin-right:109px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

.project-img {
	border-radius: 60px;
}

.project-grid__tile-text {
	margin-left:109px;
}

.grid-1-title {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 48px;
	line-height: 66px;
	color: var(--main-pink);
	margin-bottom: 20px;
}

.grid-2-title {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 44px;
	line-height: 66px;
	color: #474350;
	margin-bottom: 20px;
}

.project-text {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: -0.01em;
	color: #333333;
	margin-bottom: 50px;
}

.grid_button {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 25px;
	line-height: 20px;
	letter-spacing: -0.02em;
	padding: 25px 77px;
	background: var(--main-aqua);
	border-radius: 60px;
}

.project-grid__tile-text-reverse > .project-text{
	margin-bottom: 75px;
}

/*********************************third_section**********************************/

/*********************************fourth_section**********************************/
.fourth_section{
	margin-top: 300px;
}

.fourth_section__grid-templaetes{
	display: grid;
	grid-template-columns: 1fr 1fr;
	
}

.fourth-section__title-container {
	display: block;
	width: 450px;
}

.fourth-section__title {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 66px;
	line-height: 76px;
	text-transform: capitalize;
	padding-top: 60px;
}

.pink {
	color: var(--main-pink);
}

.swiper {
	width: 480px;
  height: 350px;
}

.swiper-slide {
	width:480px;
	height:350px;
	background: var(--main-white);
	box-shadow: 0px 0px 20px rgba(226, 226, 226, 0.25);
	border-radius: 10px;
}
.slider__foto-name {
	display: flex;
}
.slider__img {
	padding: 60px 15px 25px 50px;
}
.slider__name {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	color: #000000;
	padding: 80px 0px 0px 15px;
}
.slider__text {
	display: block;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	color: var(--main-gray);
	padding: 0px 48px 48px 48px;
}

/* .swiper-pagination {
	
}
.swiper-button-prev {

}
.swiper-button-next {

} */

.swiper-button-next::after,
.swiper-button-prev::after{
	color: var(--main-pink);
	font-size: 25px;
}

/*********************************fifth section**********************************/

.five_section__container {
	display: flex;
	flex-direction: row;
	background-color: var(--main-white);
	border-radius: 60px;
	width: 100%;
	height: 662px;
	min-height:612px;
}


.send_buttom {
	width: 290px;
	height: 60px;
  padding: 0 20px;
  border: none;
	float: right;
  border-radius: 60px;
  background-color: var(--main-aqua);
  color: #474350;
  font-size: 24px;
	font-weight: 600;
  cursor: pointer;
	z-index: 5;

}

textarea {
	resize: none; 
	overflow: auto;
  }

.fifth_img{
	margin: 50px 0px 125px 85px;
	border-radius: 60px;
	border: none;
	width: 490px;
	height: 440px;
}
/*********************************fifth section**********************************/

/*********************************footer**********************************/
.footer{
  background-color: #474350;
  margin: 200px 0px 0px;
	padding: 50px 0px 100px;
}

.upper_footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.subscribe_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
  

.text{
	color: var(--main-white);
	font-size: 12px;
	margin: 0;
}

.bold{
	font-weight: 800;
}

.intend{
	margin-top: 22px;
}

.intend_low{
	margin-top: 12px;
}

.subscribe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.footer_text{
	color: var(--main-white);
	font-weight: 900;
	margin-top: 20px;
}


.left{
	text-align: left;
  margin-left: auto;
}

.icon{
	display: inline-block;
	margin: 30px 20px 0px 0px;
	width: 20px;
	height: 20px;
}

.subscribe_text{
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
}

.subscribe{
	position: relative;
	width: 550px;
}
.subscribe_email {
	width: 100%;
  height: 55px;
  padding: 10px;
  border: none;
	outline: none;
  border-radius: 60px;
  font-size: 16px;
	z-index: 3;
}
  
.subscribe_bottom {
	width: 30%;
	height: 55px;
  padding: 0 20px;
  border: none;
  border-radius: 60px;
  background-color: var(--main-aqua);
  color: #474350;
  font-size: 16px;
  cursor: pointer;
	margin-left: -30%;
	z-index: 5;
}


.subscribe_bottom:hover {
  background-color: #00cc96;
	color: #fff;
}
/*********************************footer**********************************/