.swiper {
	width: 100%;
	max-width: 450px;
	min-width: 350px;
}

.swiper-slide {
	width:430px;
	height:340px;
	background: var(--main-white);
	box-shadow: 0px 0px 20px rgba(226, 226, 226, 0.25);
	border-radius: 10px;
}

.slider__foto-name {
	display: flex;
}

.slider__img {
	padding: 20px 10px 15px 20px;
}
.slider__name {
	font-family: var(--main-common-text);
	font-style: normal;
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 3rem;
	color: #000000;
	padding: 40px 0px 0px 10px;

}
.slider__text {
	display: block;
	font-family: var(--main-common-text);
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 2.7rem;
	color: var(--main-gray);
	padding: 0px 40px 40px 50px;
}

/* .swiper-pagination {
	
} */

.swiper-button-next::after,
.swiper-button-prev::after{
	color: var(--main-pink);
	font-size: 2.2rem;
	transition: all 0.2s;
}

.swiper-button-prev:hover:after,
.swiper-button-next:hover::after{
	font-size: 3.8rem;
}

.swiper-pagination-bullet-active {
  background: var(--main-pink);
}